body
{
	margin:0;
	padding:0;
	font-family:courier;
	font-size: 20px;
	color: green;
	background:green;
}
.head1
{
	color:black;
	font-size:50px;
	text-align:center;
}

.box
{
	width:300px;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:black;
	text-align:center;

}
.box input[type="text"], .box input[type="password"] , .box input[type="email"], .box input[type="date"]
{
	border:0;
	background:black;s
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid white;
	padding:14px 10px;
	width:200px;
	outline:none;
	color:white;
	border-radius:30px;
	transition:.35s;
	font-family:courier;
}
.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="email"]:focus, .box input[type="date"]:focus
{
	width:300px;
	border-color:green;
}
.box input[type="submit"]
{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid green;
	padding:14px 10px;
	width:200px;
	outline:none;
	color:white;
	border-radius:30px;
	transition:0.25;
	cursor:pointer;
	font-family:courier;
}
.box input[type="submit"]:hover
{
	background:green;
}
.link1
{
	color:green;
}
